In [4]:
# import pandas
import pandas as pd

In [12]:
pd.options.display.float_format = '{:.0f}'.format
pd.set_option('display.width', 60)
pd.set_option('display.max_columns', None)

In [8]:
# import the land temperature data
percapitaGDP = pd.read_excel("data/GDPpercapita22b.xlsx",
   sheet_name="OECD.Stat export",
   skiprows=4,
   skipfooter=1,
   usecols="A,C:W")

In [14]:
# Use head to view the first few rows and shape to get the number of rows and columns:
percapitaGDP.head()

,Year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Metropolitan areas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AUS: Australia,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
2,AUS01: Greater Sydney,..,41091,41781,42988,43232,42807,42953,43162,42641,43194,42881,43762,44668,44669,45934,47349,47582,47569,47171,45576,45152
3,AUS02: Greater Melbourne,..,40488,41136,42164,42810,42195,42298,43148,41720,42138,41728,42118,42153,41920,42865,43725,43394,43772,43237,42299,40848
4,AUS03: Greater Brisbane,..,35276,35676,37092,38655,40712,42088,42222,43703,41315,40653,42083,41763,41446,41733,42294,43547,44663,44328,42145,40741

In [16]:
percapitaGDP.shape

(731, 22)

In [20]:
# Use the info method of the DataFrame to view data types and the non-null count
# NOTE all columns have the object data type
percapitaGDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    731 non-null    object
 1   2000    730 non-null    object
 2   2001    730 non-null    object
 3   2002    730 non-null    object
 4   2003    730 non-null    object
 5   2004    730 non-null    object
 6   2005    730 non-null    object
 7   2006    730 non-null    object
 8   2007    730 non-null    object
 9   2008    730 non-null    object
 10  2009    730 non-null    object
 11  2010    730 non-null    object
 12  2011    730 non-null    object
 13  2012    730 non-null    object
 14  2013    730 non-null    object
 15  2014    730 non-null    object
 16  2015    730 non-null    object
 17  2016    730 non-null    object
 18  2017    730 non-null    object
 19  2018    730 non-null    object
 20  2019    730 non-null    object
 21  2020    730 non-null    object
dtypes: object(22)
memory usage: 125.8+ KB

In [26]:
# Give an appropriate name to the metropolitan area column
percapitaGDP.rename(columns={'Year':'metro'}, inplace=True)

In [24]:
#Test for leading spaces with startswith(' ') and then use any to establish whether there are one or more occasions when the first character is blank.
percapitaGDP.metro.str.startswith(' ').any()

True

In [28]:
# Use endswith(' ') to examine trailing spaces.
percapitaGDP.metro.str.endswith(' ').any()

False

In [32]:
#Use stripmethod to remove all leading spaces.
percapitaGDP.metro = percapitaGDP.metro.str.strip()

In [34]:
# Test
percapitaGDP.metro.str.startswith(' ').any()

False

In [36]:
# convert the data columns to numeric
for col in percapitaGDP.columns[1:]:
  percapitaGDP[col] = pd.to_numeric(percapitaGDP[col],
    errors='coerce')
  percapitaGDP.rename(columns={col:'pcGDP'+col},
    inplace=True)

In [38]:
percapitaGDP.head()

,metro,pcGDP2000,pcGDP2001,pcGDP2002,pcGDP2003,pcGDP2004,pcGDP2005,pcGDP2006,pcGDP2007,pcGDP2008,pcGDP2009,pcGDP2010,pcGDP2011,pcGDP2012,pcGDP2013,pcGDP2014,pcGDP2015,pcGDP2016,pcGDP2017,pcGDP2018,pcGDP2019,pcGDP2020
0,Metropolitan areas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AUS: Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AUS01: Greater Sydney,NaN,41091,41781,42988,43232,42807,42953,43162,42641,43194,42881,43762,44668,44669,45934,47349,47582,47569,47171,45576,45152
3,AUS02: Greater Melbourne,NaN,40488,41136,42164,42810,42195,42298,43148,41720,42138,41728,42118,42153,41920,42865,43725,43394,43772,43237,42299,40848
4,AUS03: Greater Brisbane,NaN,35276,35676,37092,38655,40712,42088,42222,43703,41315,40653,42083,41763,41446,41733,42294,43547,44663,44328,42145,40741

In [40]:
percapitaGDP.dtypes

metro         object
pcGDP2000    float64
pcGDP2001    float64
pcGDP2002    float64
pcGDP2003    float64
pcGDP2004    float64
pcGDP2005    float64
pcGDP2006    float64
pcGDP2007    float64
pcGDP2008    float64
pcGDP2009    float64
pcGDP2010    float64
pcGDP2011    float64
pcGDP2012    float64
pcGDP2013    float64
pcGDP2014    float64
pcGDP2015    float64
pcGDP2016    float64
pcGDP2017    float64
pcGDP2018    float64
pcGDP2019    float64
pcGDP2020    float64
dtype: object

In [44]:
# Use the describe method to generate summary statistics for all numeric data in the DataFrame
percapitaGDP.describe()

,pcGDP2000,pcGDP2001,pcGDP2002,pcGDP2003,pcGDP2004,pcGDP2005,pcGDP2006,pcGDP2007,pcGDP2008,pcGDP2009,pcGDP2010,pcGDP2011,pcGDP2012,pcGDP2013,pcGDP2014,pcGDP2015,pcGDP2016,pcGDP2017,pcGDP2018,pcGDP2019,pcGDP2020
count,158,450,479,566,586,613,657,657,672,672,692,692,692,692,692,691,691,691,692,596,425
mean,33961,38874,39621,37289,37402,37088,37955,38673,38472,36860,37503,38208,38376,38628,39181,39721,40142,40891,41667,42709,39792
std,15155,13194,13061,14677,15453,16583,16528,16800,16973,15899,16194,16484,16504,16428,16549,16384,16446,16637,17440,18893,19230
min,2686,7805,7065,7499,5438,4091,4301,4685,4480,4388,4438,4461,4700,4946,5282,5392,5443,5513,5530,5698,5508
25%,21523,30790,31064,27961,27819,27146,28385,29242,28296,27356,27301,27708,27507,27868,28275,29038,29907,30316,31322,29760,24142
50%,35836,38078,39246,37508,37434,37495,37997,38636,38468,36999,37296,38026,38116,38478,38676,39240,39900,40641,41428,43505,41047
75%,42804,46576,47874,46686,47378,47690,48289,48828,48257,46811,47402,47822,47869,48060,48699,49190,49979,50798,51130,53647,51130
max,95221,96941,98929,100965,124971,137839,144114,144545,148972,107880,114351,131794,124199,119109,112917,109558,111923,117666,147760,146094,131082

In [46]:
# Remove rows where all of the per capita GDP values are missing.
percapitaGDP.dropna(subset=percapitaGDP.columns[1:], how="all", inplace=True)

In [56]:
# percapitaGDP.describe()

In [52]:
percapitaGDP.head()

,metro,pcGDP2000,pcGDP2001,pcGDP2002,pcGDP2003,pcGDP2004,pcGDP2005,pcGDP2006,pcGDP2007,pcGDP2008,pcGDP2009,pcGDP2010,pcGDP2011,pcGDP2012,pcGDP2013,pcGDP2014,pcGDP2015,pcGDP2016,pcGDP2017,pcGDP2018,pcGDP2019,pcGDP2020
2,AUS01: Greater Sydney,NaN,41091,41781,42988,43232,42807,42953,43162,42641,43194,42881,43762,44668,44669,45934,47349,47582,47569,47171,45576,45152
3,AUS02: Greater Melbourne,NaN,40488,41136,42164,42810,42195,42298,43148,41720,42138,41728,42118,42153,41920,42865,43725,43394,43772,43237,42299,40848
4,AUS03: Greater Brisbane,NaN,35276,35676,37092,38655,40712,42088,42222,43703,41315,40653,42083,41763,41446,41733,42294,43547,44663,44328,42145,40741
5,AUS04: Greater Perth,NaN,43355,44849,46475,48692,52804,57511,59741,60342,60556,66816,69432,68537,71841,66268,62519,62433,62686,67313,70970,78489
6,AUS05: Greater Adelaide,NaN,36081,36928,37491,37422,37304,37548,38349,37866,38666,38668,38514,38922,38851,39392,39472,38984,39302,39055,38314,39181

In [58]:
percapitaGDP.shape

(692, 22)

In [60]:
# set an index using the metropolitan area column
percapitaGDP.metro.count()

692

In [62]:
percapitaGDP.metro.nunique()

692

In [64]:
percapitaGDP.set_index('metro', inplace=True)

In [66]:
percapitaGDP.head()

,pcGDP2000,pcGDP2001,pcGDP2002,pcGDP2003,pcGDP2004,pcGDP2005,pcGDP2006,pcGDP2007,pcGDP2008,pcGDP2009,pcGDP2010,pcGDP2011,pcGDP2012,pcGDP2013,pcGDP2014,pcGDP2015,pcGDP2016,pcGDP2017,pcGDP2018,pcGDP2019,pcGDP2020
metro,,,,,,,,,,,,,,,,,,,,,
AUS01: Greater Sydney,NaN,41091,41781,42988,43232,42807,42953,43162,42641,43194,42881,43762,44668,44669,45934,47349,47582,47569,47171,45576,45152
AUS02: Greater Melbourne,NaN,40488,41136,42164,42810,42195,42298,43148,41720,42138,41728,42118,42153,41920,42865,43725,43394,43772,43237,42299,40848
AUS03: Greater Brisbane,NaN,35276,35676,37092,38655,40712,42088,42222,43703,41315,40653,42083,41763,41446,41733,42294,43547,44663,44328,42145,40741
AUS04: Greater Perth,NaN,43355,44849,46475,48692,52804,57511,59741,60342,60556,66816,69432,68537,71841,66268,62519,62433,62686,67313,70970,78489
AUS05: Greater Adelaide,NaN,36081,36928,37491,37422,37304,37548,38349,37866,38666,38668,38514,38922,38851,39392,39472,38984,39302,39055,38314,39181

In [68]:
percapitaGDP.loc['AUS02: Greater Melbourne']

pcGDP2000     NaN
pcGDP2001   40488
pcGDP2002   41136
pcGDP2003   42164
pcGDP2004   42810
pcGDP2005   42195
pcGDP2006   42298
pcGDP2007   43148
pcGDP2008   41720
pcGDP2009   42138
pcGDP2010   41728
pcGDP2011   42118
pcGDP2012   42153
pcGDP2013   41920
pcGDP2014   42865
pcGDP2015   43725
pcGDP2016   43394
pcGDP2017   43772
pcGDP2018   43237
pcGDP2019   42299
pcGDP2020   40848
Name: AUS02: Greater Melbourne, dtype: float64

In [76]:
percapitaGDP['pcGDP2012']

metro
AUS01: Greater Sydney      44668
AUS02: Greater Melbourne   42153
AUS03: Greater Brisbane    41763
AUS04: Greater Perth       68537
AUS05: Greater Adelaide    38922
                            ...
USA158: Butte              35068
USA160: Yakima             35857
USA161: Brazos             47706
USA162: Tuscaloosa         44729
USA170: Benton (AR)        45801
Name: pcGDP2012, Length: 692, dtype: float64

In [80]:
percapitaGDP.pcGDP2013

metro
AUS01: Greater Sydney      44669
AUS02: Greater Melbourne   41920
AUS03: Greater Brisbane    41446
AUS04: Greater Perth       71841
AUS05: Greater Adelaide    38851
                            ...
USA158: Butte              35829
USA160: Yakima             36243
USA161: Brazos             51714
USA162: Tuscaloosa         44358
USA170: Benton (AR)        48038
Name: pcGDP2013, Length: 692, dtype: float64